{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
            {% for key, value in data.items() %}
                {% if value is string %}
                    ['{{ key }}', '{{ value }}'],
                {% else %}
                    ['{{ key }}', {{ value }}],
                {% endif %}
            {% endfor %}
        ]);

        var options = {
          title: 'Absent V. Present',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>

  <div class="welcome">
    <span>Dashfix | <a href="{{url_for('home')}}">Home</a></span>
    <span>Welcome: xyz123</span>
  </div>

  <h1 style="margin-top: 30px; margin-bottom: 50px; text-align: center;">Employees</h1>

  <div class="row" style="margin-bottom: 50px; margin-left: 30px; font-size: 1.5rem; text-align: center;">
    <div class="col-2"><p><em>Employee ID</em></p></div>
    <div class="col-2"><p><em>Name</em></p></div>
    <div class="col-2"><p><em>Department</em></p></div>
    <div class="col-3"><p><em>View</em></p></div>
    <div class="col-3"><p><em>Edit</em></p></div>
  </div>
  {% for i in len %}
      <div class="row" style="margin-bottom: 50px; margin-left: 30px; text-align: center;">
        <div class="col-2"><p>{{ ts[i].employeeID }}</p></div>
        <div class="col-2"><p>{{ ts[i].name }}</p></div>
        <div class="col-2"><p>{{ departments[i] }}</p></div>
        <div class="col-3"><p><a href="{{url_for('employee_view', employee_id=ts[i].id)}}">View</a></p></div>
        <div class="col-3"><p><a href="{{url_for('employee_edit', employee_id=ts[i].id)}}">Edit</a></p></div>
      </div>
  {% endfor %}

  <div style="margin: 50px 20px 0 10px;width: 1000px;margin-bottom: 50px; margin-left: 75px;">
      <h3>Absent v. Present</h3>

      <div id="piechart_3d" style="width: 450px; height: 250px;"></div>
  </div>


{% include "footer.html" %}
{% endblock %}