{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <div class="welcome">
    <span>Dashfix | <a href="{{url_for('home')}}">Home</a></span>
    <span>Welcome: xyz123</span>
  </div>

  <div class="row reports" style="margin-bottom: 30px; margin-left: 70px; margin-top: 70px;">
      <div class="col-3">
        <h3>ID: {{ employee.employeeID }}</h3>
      </div>
      <div class="col-3">
        <h3>Name: {{employee.name}}</h3>
      </div>
      <div class="col-3">
        <h3>Joining Date: {{date_str}}</h3>
      </div>
      <div class="col-3">
        <h3>Addr: {{employee.addressUae}}</h3>
      </div>
  </div>
  <hr>

  <div class="row">
      <div class="col-6">
        <div class="row" style="margin-bottom: 5px; margin-left: 70px;"><p>Worked Hours: {{ workedHours }}</p></div>
        <div class="row" style="margin-bottom: 5px; margin-left: 70px;"><p>Payments Done: Rs. 50000</p></div>
        <div class="row" style="margin-bottom: 5px; margin-left: 70px;"><p>Payments Pending: Rs. 25000</p></div><br>
        <div class="row" style="margin-bottom: 5px; margin-left: 70px;"><p>Leaves Pending: 20</p></div>
        <div class="row" style="margin-bottom: 5px; margin-left: 70px;"><p>Visa Expiry: ############</p></div>
        <div class="row" style="margin-bottom: 5px; margin-left: 70px;"><p>Profile Completion: {{ profile }}%</p></div>

      </div>
      <div class="col-6">
        <img src="{{ url_for('static', filename='images/pp.jpg')}}" alt="Profile pic" style="width: 50%;">
      </div>

  </div>
  <hr>

  <div class="row reports" style="margin-bottom: 20px;" >
      <h2 style="text-align: left">Action Items</h2>
  </div>

  {% for i in len %}
    <div class="row reports" style="margin-bottom: 20px; margin-left: 70px;" >
        <div class="col-3">
            <h4>{{ i+1 }}. {{ items[i].actionText }}</h4>
        </div>
        <div class="col-2 bbut">
            <h4><a href="{{url_for('action_item_del', entry_id=items[i].id)}}">Del</a></h4>
        </div>
    </div>
  {% endfor %}
   <hr>

  <div class="row reports" style="margin-bottom: 0;" >
      <h2 style="text-align: left">Add Action Items</h2>
  </div>

  <div class="row reports" style="margin-bottom: 50px; margin-left: 70px; margin-top: 0; width: 500px;">
      {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
  </div>



{% include "footer.html" %}
{% endblock %}