{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <div class="welcome">
    <span>Dashfix | <a href="{{url_for('home')}}">Home</a></span>
    <span>Welcome: xyz123</span>
  </div>

  <h1 style="margin-top: 30px; margin-bottom: 50px; text-align: center;">Roster Archives Edit</h1>
  <!-- buttons -->
  <div class="row" style="text-align: center;">
    <div class="col-2">
      <img src="{{ url_for('static', filename='images/Sign.png')}}" alt="" style="width: 100%; padding-top:35px;">
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-12">
          <h3>Duty Roster</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <h3>Date</h3>
        </div>
        <div class="col-10">
          <h3>{{day}}, {{date}}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1"><p>S. No.</p></div>
    <div class="col-3"><p>Staff</p></div>
    <div class="col-3"><p>Hotel</p></div>
    <div class="col-2"><p>Duty Time</p></div>
    <div class="col-2"><p>Pick-Up Time</p></div>
    <div class="col-1">Remark</div>
  </div>

  <div class="row">
    {% for i in len %}
      {% if entries[i].absent == 'none' %}
        <div class="col-1"><p>{{ i + 1 }}</p></div>
        <div class="col-3"><p>{{ employees[i] }}</p></div>
        <div class="col-3"><p>{{ hotels[i] }}</p></div>
        {% if entries[i].timeIn2 == 0 %}
          <div class="col-2"><p>{{ entries[i].timeIn1 }} - {{ entries[i].timeOut1 }}</p></div>
        {% else %}
          <div class="col-2"><p>{{ entries[i].timeIn1 }} - {{ entries[i].timeOut1 }}/{{ entries[i].timeIn2 }} - {{ entries[i].timeOut2 }}</p></div>
        {% endif %}
        <div class="col-2"><p>{{ entries[i].pickUp }}</p></div>
        <div class="col-1">{{ entries[i].remark }}</div>
      {% else %}
        <div class="col-1"><p>{{ i + 1 }}</p></div>
        <div class="col-3"><p>{{ employees[i] }}</p></div>
        <div class="col-8" style="text-align: center; background-color: yellow;"><p>{{ entries[i].absent }}</p></div>
      {% endif %}
    {% endfor %}
  </div>

  <div>
      <form action="/add_roster_element/{{entries[0].rosterID}}" method="post">
          <div class="row">
              <div class="col-1"><label for="name">Name:</label></div>
              <div class="col-1"><label for="hotel">Hotel:</label></div>
              <div class="col-1"><label for="timeIn1">TimeIn1:</label></div>
              <div class="col-1"><label for="timeOut1">TimeOut1:</label></div>
              <div class="col-1"><label for="timeIn2">TimeIn2:</label></div>
              <div class="col-1"><label for="timeOut2">TimeOut2:</label></div>
              <div class="col-1"><label for="pickUp">Pick Up:</label></div>
              <div class="col-1"><label for="remarks">Remarks:</label></div>
              <div class="col-1"><label for="absent">Absence Reason: </label></div>
          </div>
          <div class="row">
              <div class="col-1"><input type="text" id="name" name="name" style="width: 90px;"></div>
              <div class="col-1"><input type="text" id="hotel" name="hotel" style="width: 90px;"></div>
              <div class="col-1"><input type="number" id="timeIn1" name="timeIn1" style="width: 90px;"></div>
              <div class="col-1"><input type="number" id="timeOut1" name="timeOut1" style="width: 90px;"></div>
              <div class="col-1"><input type="number" id="timeIn2" name="timeIn2" style="width: 90px;"></div>
              <div class="col-1"><input type="number" id="timeOut2" name="timeOut2" style="width: 90px;"></div>
              <div class="col-1"><input type="number" id="pickUp" name="pickUp" style="width: 90px;"><br></div>
              <div class="col-1"><input type="text" id="remarks" name="remarks" style="width: 90px;"><br></div>
              <div class="col-1">
                  <select name="absent" id="absent" style="width: 90px;">
                    <option value="none">--None--</option>
                    <option value="Off">Off</option>
                    <option value="Absent">Absent</option>
                    <option value="Sick">Sick</option>
                    <option value="Vacation">Vacation</option>
                    <option value="Office">Office</option>
                  </select>
              </div>
              <div class="col-1"><input type="submit" value="Submit" style="width: 90px;"></div>
          </div>
      </form>
  </div>





{% include "footer.html" %}
{% endblock %}